html,
body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  overflow: hidden hidden;
  z-index: -1;
  font-size: 20px;
}

.bg {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0 ;
  padding: 0 0 0 0 ;
  background-size: 100% 100%;
  background: url(../images/bg2.jpg) no-repeat center center;
  background-blend-mode: soft-light;
  z-index: 0;
}

.main {
  color: #3c240f;
  display: block;
  font-family: "Playfair Display", serif;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  min-height: 100vh;
  z-index: 5;
}

h1 {
  z-index: 10;
  font-size: 5rem;
  position: static;
  font-weight: bold;
  font-family: Snell Roundhand, cursive;
  margin-top: 20px;
  margin-bottom: auto;
  line-height: 2;
  left: 30px;
  text-align: center;
}

.col-9 {
  text-align: left;
  z-index: 10;
  flex: 1 0 auto;
}

.row {
  --bs-gutter-x: -40rem;
}

.title {
  font-weight: bold;
}
