html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
}
.bg {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-size: 100% 100%;
  background: url(../images/bg2.jpg) no-repeat center center;
  background-blend-mode: soft-light;
  z-index: -1;
}

.bg:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  background-size: 100% 100%;
  background: inherit;
  filter: blur(3px);
  z-index: 1;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu {
  display: block;
  margin: 20px;
  position: fixed;
  width: 25%;
  align-items: end;
  z-index: 99;
}

.button {
  margin: 2px;
  float: left;
  color: black;
  background: linear-gradient(to bottom, #faf9de 100%, #091b66 2%);
  background-color: #decdbe;
  border: 1px solid #54381e;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 24px;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(to bottom, #fad8be 5%, #cbf5fb 100%);
  background-color: #0e4b4d;
}

.main {
  color: #3c240f;
  display: flex;
  font-family: "Playfair Display", serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

header {
  font-size: 10vh;
  padding: 0px;
  margin: 0px;
  color: black;
  position: center;
  display: flex;
  z-index: 2;
  font-family: "Akaya Telivigala", cursive;
}

h3 {
  color: rgb(0, 0, 0);
}

p {
  font-size: 3.5vh;
  width: 50%;
  padding: 0px;
  margin: 0px;
}

#second {
  width: 60%;
  height: 50%;
  margin: auto;
  background: #57534f;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;
}

#section1 a {
  padding-top: 65px;
}
#section1 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
